/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*_________ Image Reveal _________*/
:root {
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px;
  align-items: stretch;
  justify-items: stretch;
  column-gap: 1.5rem;
  max-width: 1500px;

  /* The animation only works if the repeat() function is not used */
  transition: all 300ms ease-out;
}

.wrapper-img {
  border-radius: 0.8rem;
  object-fit: cover;
}

/* This can be improved with a css variable */
.wrapper:has(.wrapper-img:nth-child(1):hover) {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.wrapper:has(.wrapper-img:nth-child(2):hover) {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.wrapper:has(.wrapper-img:nth-child(3):hover) {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.wrapper:has(.wrapper-img:nth-child(4):hover) {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}
