/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*_________ Image Reveal _________*/
.main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 37.5rem; /* 600px */
  align-items: stretch;
  justify-items: stretch;
  max-width: 93.75rem; /* 1500px /

  /* The animation only works if the repeat() function is not used */
  transition: all 300ms ease-out;
}

/* Use padding to avoid layout jumps when changing columns */
.wrapper > .wrapper-img + .wrapper-img {
  padding-left: 1.5rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

/* This can be improved */
.wrapper:has(.wrapper-img-1:hover) {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.wrapper:has(.wrapper-img-2:hover) {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.wrapper:has(.wrapper-img-3:hover) {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.wrapper:has(.wrapper-img-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}
