/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Infinite Slider */
:root {
  --images-amount: 6;
  --bg: #f5f7f9;
  --duration: 8000ms;
  --width: 500px;
  --height: 580px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}

.slider {
  width: 100%;
  height: var(--height);
  position: relative;
  overflow: hidden;

  /*
    To visualize this, you'd have an element where
    the leftmost 10% and rightmost 10% are hidden,
    while the center 80% of the element will be visible.
  */
  mask-image: linear-gradient(to right, transparent, #fff 10% 90%, transparent);
}

.slider:hover .slider-img {
  animation-play-state: paused !important;
  filter: grayscale(100%);
}

.slider-img {
  height: var(--height);
  width: var(--width);
  object-fit: contain;
  position: absolute;
  left: 100%;
  transition: filter 250ms ease;
  animation: autoRun var(--duration) linear infinite;
  animation-delay: calc(
    (var(--pos) - 1) * (var(--duration) / var(--images-amount))
  );
}

.slider-img:hover {
  filter: grayscale(0) !important;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
